
.hotel-BtnContainer{
	margin: 0 auto;
	width: 1500px;
	text-align: center;
}
.hotel-filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 300px;
  line-height: 100px;
  text-align: center;
  margin: 5px;
  display: none;
}

.hotel-show {
  display: block;
}

.hotel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 20px;
	/* align-items: center;
  margin-top: 20px;
  overflow: hidden; */
}

/* Style the buttons */
.hotel-btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.hotel-btn:hover {
  background-color: #ddd;
}

.hotel-btn.active {
  background-color: #666;
  color: white;
}