#noticePosts tr {
  height: 50px;
}

#noticePosts td {
  vertical-align: middle;
  text-align: left;
}

#noticePosts td:first-child {
  border-left: 1px solid #ddd;
  padding-left: 30px;
}

#noticePosts td:last-child {
  border-right: 1px solid #ddd;
}

#noticePosts tbody:last-child {
  border-bottom: 1px solid #ddd;
}

#noticePosts th {
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}

#noticePosts th:first-child {
  border-left: 1px solid #ddd;
}

#noticePosts th:last-child {
  border-right: 1px solid #ddd;
}

#noticePosts {
  margin-top: 20px;
  border: 1px;
}

#noticePosts .center {
  text-align: center;
}

.pagination {
  margin: 0;
  padding: 10px;
}
.pagination li {
  display: inline-block;
  list-style: none;
}
.pagination li a {
  display: table-cell;
  width: 40px;
  height: 40px;
  line-height: 25px;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  color: #252525;
  border-radius: 4px;
  margin: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.pagination li a:hover,
.pagination li a.active {
  color: #fff;
  background-color: #2cc185;
}
.pagination li:first-child a {
  border-radius: 40px 0 0 40px;
}
.pagination li:last-child a {
  border-radius: 0 40px 40px 0;
}
.listF .center {
  display: none;
}
.listF td {
  border-right: 1px solid #ddd;
}
.table td a {
	display: block;
	width: 100%;
	line-height: 2.5em;
}
.responseY{
	background-color: #04AA6D;
	color: white;
	margin-left:5px;
	font-size: 0.8em;
}