<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.prod.mapper.Mapper">

  <select id="login" parameterType="co.prod.vo.UsersVO" resultType="co.prod.vo.UsersVO">
    select * from users where user_email = #{userEmail} and user_password = #{userPassword}
  </select>
  
  <select id="searchEmail" parameterType="co.prod.vo.UsersVO" resultType="co.prod.vo.UsersVO">
  select * from users where user_email = #{userEmail} <!-- and user_nickname = #{userNickname} -->
  </select>
  
  <select id="searchName">
  select * from users where user_nickname = #{userNickname}
  </select>
  
  <insert id="insertUser" parameterType="co.prod.vo.UsersVO">
  insert into users(user_email, user_password, user_nickname)
values(#{userEmail},#{userPassword},#{userNickname})
  </insert>
  
  <select id="selectUser" parameterType="co.prod.vo.UsersVO">
  	select user_password from users where user_email=#{userEmail} and user_nickname=#{userNickname}
  </select>
  
  <select id="userList" resultType="co.prod.vo.UsersVO">
  	select * from users
  </select>
  
  <select id="selectUserd" parameterType="String" resultType="co.prod.vo.UsersVO">
  	select * from users where user_email = #{userEmail}
  </select>
  
  <update id="updateUser" parameterType="co.prod.vo.UsersVO">
  	update users set user_password=#{userPassword}, user_nickname=#{userNickname} where user_email = #{userEmail}
  </update>
  
  <delete id="deleteUser" parameterType="String">
  	delete from users where user_email= #{userEmail}
  </delete>
</mapper>